* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(217deg, 54%, 11%);
  color: hsl(215deg, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  justify-content: center;
  margin: auto;
  max-width: 320px;
  overflow: hidden;
  width: 90%;
}

.nft__card {
  background-color: hsl(216deg, 50%, 16%);
  border-radius: 1.4rem;
  padding: 2.3rem;
  width: 100%;
}
.nft__card .nft__preview {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.nft__card .nft__preview img {
  display: block;
  width: 100%;
}
.nft__card .nft__preview--overlay {
  background-color: hsla(178deg, 100%, 50%, 0.55);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease-in;
  width: 100%;
}
.nft__card .nft__preview:hover .nft__preview--overlay {
  cursor: pointer;
  display: block;
}
.nft__card .nft__preview--overlay img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4.2rem;
}
.nft__card .nft__body {
  margin: 2rem 0 0rem;
}
.nft__card .nft__body .nft__body--title {
  color: hsl(0deg, 0%, 100%);
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0rem;
  margin-bottom: 1.3rem;
}
.nft__card .nft__body .nft__body--title:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
}
.nft__card .nft__body .nft__body--description {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
}
.nft__card .nft__body .nft__info {
  align-items: center;
  border-bottom: 1px solid hsl(215deg, 32%, 27%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
  padding-bottom: 1.4rem;
}
.nft__card .nft__body .nft__info .nft__info--price {
  align-items: flex-start;
  color: hsl(178deg, 100%, 50%);
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
}
.nft__card .nft__body .nft__info .nft__info--price::before {
  content: url("../images/icon-ethereum.svg");
  margin-right: 0.6rem;
}
.nft__card .nft__body .nft__info .nft__info--create {
  align-items: flex-start;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
}
.nft__card .nft__body .nft__info .nft__info--create::before {
  content: url("../images/icon-clock.svg");
  margin-right: 0.6rem;
}
.nft__card .nft__body .nft__author {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
}
.nft__card .nft__body .nft__author--img {
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  margin-right: 1.4rem;
  width: 3rem;
}
.nft__card .nft__body .nft__author--info a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
.nft__card .nft__body .nft__author--info a:hover {
  color: hsl(178deg, 100%, 50%);
}

footer {
  font-size: 1rem;
  height: 3rem;
  text-align: center;
  width: 100%;
}
footer a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
footer a:hover {
  color: hsl(178deg, 100%, 50%);
}

/*# sourceMappingURL=styles.css.map */
