$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyanHover: hsl(178, 100%, 50%, .55);
$darkBlue: hsl(217, 54%, 11%);
$darkCardBlue: hsl(216, 50%, 16%);
$darkLineBlue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$borderRadiusXL: 1.4rem;
$borderRadiusSM: 1rem;
$fontGeneral: 'Outfit', sans-serif;